@model Vizyon
     
@{
    ViewData["Title"] = "Vizyon";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (Model is not null)
{
    <section class="page-title-section bg-img cover-background top-position1 left-overlay-dark" data-overlay-dark="9" data-background="img/bg/bg-01.jpg">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="text-animation" data-in-effect="fadeInUp"> @ViewData["Title"]</h1>
                </div>
                <div class="col-md-12">
                    <ul class="wow fadeInUp" data-wow-delay="400ms">
                        <li><a href="~/home">Anasayfa</a></li>
                        <li><a href="#!">@ViewData["Title"]</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container position-relative z-index-9">
            <div class="row align-items-end">
                <div class="col-lg-7 wow fadeIn" data-wow-delay="200ms" style="visibility: visible; animation-delay: 200ms; animation-name: fadeIn;">
                    <div class="pe-xl-2-9 right-content">
                        <div class="section-title white mb-1-9 position-relative">
                            <span class="sub-title wow text-animation animated" data-in-effect="fadeInRight" style="visibility: visible;">
                                <span style="visibility: hidden;">
                                    <span class="word1" style="display: inline-block; transform: translate3d(0px, 0px, 0px);">
                                        <span class="char1" style="display: inline-block; visibility: visible;">
                                            <ul class="texts" style="display: none;"><li class="current">  @ViewData["Title"] </li></ul>
                                        </span>
                                    </span>
                                </span>
                            </span>
                            <h2 class=" h1 mb-0">@Html.DisplayFor(model => model.Baslik)</h2>
                        </div>
                        <div class=" h5 mb-0"> @Html.Raw( Model.Icerik)</div>


                        @*    <div class="row mb-2-2 mb-xl-7">
                    <div class="col-sm-6 mb-3 mb-sm-0">
                    <ul class="list-style2">
                    <li class="text-white wow fadeInUp" data-wow-delay="100ms" style="visibility: visible; animation-delay: 100ms; animation-name: fadeInUp;">100 % Compensations</li>
                    <li class="text-white wow fadeInUp" data-wow-delay="200ms" style="visibility: visible; animation-delay: 200ms; animation-name: fadeInUp;">Experienced Team</li>
                    <li class="text-white wow fadeInUp" data-wow-delay="300ms" style="visibility: visible; animation-delay: 300ms; animation-name: fadeInUp;">Support 24/7</li>
                    </ul>
                    </div>
                    <div class="col-sm-6">
                    <ul class="list-style2">
                    <li class="text-white wow fadeInUp" data-wow-delay="400ms" style="visibility: visible; animation-delay: 400ms; animation-name: fadeInUp;">Online Tracking</li>
                    <li class="text-white wow fadeInUp" data-wow-delay="500ms" style="visibility: visible; animation-delay: 500ms; animation-name: fadeInUp;">Cargo Insurance</li>
                    <li class="text-white wow fadeInUp" data-wow-delay="600ms" style="visibility: visible; animation-delay: 600ms; animation-name: fadeInUp;">Safe Warehouse</li>
                    </ul>
                    </div>
                    </div>*@

                    </div>
                </div>
                <div class="col-lg-5 d-none d-lg-block wow fadeIn" data-wow-delay="400ms" style="visibility: visible; animation-delay: 400ms; animation-name: fadeIn;">
                    <div class="ps-xl-2-3 left-img position-relative">
                        <div class="image-hover image-radius-shape">
                            @{
                                if (Model.Resim is not null)
                                {
                                    <img src=" ~/@Html.DisplayFor(model => model.Resim)" alt="...">
                                }
                            }

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}else
{
    <p>Lütfen Admin Panelinden vizyon bilgisi giriniz</p>
}
     


 


 




