@model List<Servisler>
@{
    if (Model.Count>0)
    {

    

        <!-- service-area -->
        <div class="service-area py-120">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 mx-auto">
                        <div class="site-heading text-center">
                            <span class="site-title-tagline">Hizmetler</span>
                            <h2 class="site-title">Size Sunduğumuz   <span>Hizmetler</span></h2>
                            <div class="heading-divider"></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                  
                             @foreach (var item in Model)
                    {
                        <div class="col-md-6 col-lg-4">
                            <div class="service-item">
                                <div class="service-img">
                                    <img src="@item.ServisResim" alt="">
                                </div>
                                <div class="service-icon">
                                    <i class="flaticon-screwdriver"></i>
                                </div>
                                <div class="service-content">
                                    <h3 class="service-title">
                                        <a href="#">@item.ServisAdi</a>
                                    </h3>
                                    <p class="service-text">
                                        @Html.Raw(item.ServisAciklama.ToString().Substring(0,item.ServisAciklama.ToString().Length>90?90:item.ServisAciklama.ToString().Length))
                                        @if (item.ServisAciklama.ToString().Length > 90)
                                            @Html.Raw("...")

                                    </p>
                                    <div class="service-arrow">
                                        <a href="@item.ServisUrl" class="theme-btn">Devamı<i class="fas fa-arrow-right-long"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
               
                </div>
            </div>
        </div>
        <!-- service-area -->
    
               }
                
                else
                {
        <!-- service-area -->
        <div class="service-area py-120">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 mx-auto">
                        <div class="site-heading text-center">
                            <span class="site-title-tagline">Hizmetler</span>
                            <h2 class="site-title">Size Sunduğumuz   <span>Hizmetler</span></h2>
                            <div class="heading-divider"></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-lg-4">
                        <div class="service-item">
                            <div class="service-img">
                                <img src="assets/img/service/01.jpg" alt="">
                            </div>
                            <div class="service-icon">
                                <i class="flaticon-screwdriver"></i>
                            </div>
                            <div class="service-content">
                                <h3 class="service-title">
                                    <a href="#">Brake & Repair Service</a>
                                </h3>
                                <p class="service-text">
                                    There are many variations of passages orem psum available but the majority have
                                    suffered alteration in some form by injected.
                                </p>
                                <div class="service-arrow">
                                    <a href="#" class="theme-btn">Read More<i class="fas fa-arrow-right-long"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="service-item">
                            <div class="service-img">
                                <img src="assets/img/service/02.jpg" alt="">
                            </div>
                            <div class="service-icon">
                                <i class="flaticon-gear-1"></i>
                            </div>
                            <div class="service-content">
                                <h3 class="service-title">
                                    <a href="#">Engine & Transmission</a>
                                </h3>
                                <p class="service-text">
                                    There are many variations of passages orem psum available but the majority have
                                    suffered alteration in some form by injected.
                                </p>
                                <div class="service-arrow">
                                    <a href="#" class="theme-btn">Read More<i class="fas fa-arrow-right-long"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="service-item">
                            <div class="service-img">
                                <img src="assets/img/service/03.jpg" alt="">
                            </div>
                            <div class="service-icon">
                                <i class="flaticon-temperature"></i>
                            </div>
                            <div class="service-content">
                                <h3 class="service-title">
                                    <a href="#">Heating & AC Repairs</a>
                                </h3>
                                <p class="service-text">
                                    There are many variations of passages orem psum available but the majority have
                                    suffered alteration in some form by injected.
                                </p>
                                <div class="service-arrow">
                                    <a href="#" class="theme-btn">Read More<i class="fas fa-arrow-right-long"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="service-item">
                            <div class="service-img">
                                <img src="assets/img/service/04.jpg" alt="">
                            </div>
                            <div class="service-icon">
                                <i class="flaticon-smart-light"></i>
                            </div>
                            <div class="service-content">
                                <h3 class="service-title">
                                    <a href="#">Engine Upgrades</a>
                                </h3>
                                <p class="service-text">
                                    There are many variations of passages orem psum available but the majority have
                                    suffered alteration in some form by injected.
                                </p>
                                <div class="service-arrow">
                                    <a href="#" class="theme-btn">Read More<i class="fas fa-arrow-right-long"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="service-item">
                            <div class="service-img">
                                <img src="assets/img/service/05.jpg" alt="">
                            </div>
                            <div class="service-icon">
                                <i class="flaticon-tire"></i>
                            </div>
                            <div class="service-content">
                                <h3 class="service-title">
                                    <a href="#">Tire & Auto Parts</a>
                                </h3>
                                <p class="service-text">
                                    There are many variations of passages orem psum available but the majority have
                                    suffered alteration in some form by injected.
                                </p>
                                <div class="service-arrow">
                                    <a href="#" class="theme-btn">Read More<i class="fas fa-arrow-right-long"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="service-item">
                            <div class="service-img">
                                <img src="assets/img/service/06.jpg" alt="">
                            </div>
                            <div class="service-icon">
                                <i class="flaticon-drive-thru"></i>
                            </div>
                            <div class="service-content">
                                <h3 class="service-title">
                                    <a href="#">Auto Electric</a>
                                </h3>
                                <p class="service-text">
                                    There are many variations of passages orem psum available but the majority have
                                    suffered alteration in some form by injected.
                                </p>
                                <div class="service-arrow">
                                    <a href="#" class="theme-btn">Read More<i class="fas fa-arrow-right-long"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- service-area -->
                }
                }