@model             Blog

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Blog</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BlogBaslik)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BlogBaslik)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BlogAciklama)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BlogAciklama)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BlogResim)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BlogResim)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SayfaUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SayfaUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SayfaId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SayfaId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Durum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Durum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreateDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpdateDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdateDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
