@model  HakkimizdaDto

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

 <div class="row">
              <div class="col-xl-12 stretch-card grid-margin">
                <div class="card">
								<div class="card-header d-flex align-items-center">
									<h5 class="mb-0">@ViewBag.SayfaAdi </h5>
									<div class="ms-auto">
										<label class="form-check form-switch form-check-reverse">
											<input type="checkbox" class="form-check-input" checked>
											<span class="form-check-label"></span>
										</label>
									</div>
								</div>
                  
                   <div class="card-body pb-0">
                       	<div class="row">


                            <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="row">
                            <div class="col-md-8">
            <div class="form-group">
                <label asp-for="Baslik" class="control-label"></label>
                <input asp-for="Baslik" class="form-control" />
                <span asp-validation-for="Baslik" class="text-danger"></span>
            </div>
            <div class="card-body">
                <div class="mb-3">
                <label asp-for="Icerik" class="control-label"></label>
                <textarea asp-for="Icerik" id="ckeditor_classic_prefilled" rows="5" class="form-control" > </textarea>
               @* <textarea class="form-control" id="ckeditor_classic_prefilled" ></textarea>*@
                <span asp-validation-for="Icerik" class="text-danger"></span>
                </div>
            </div>
    
         
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Durum" /> @Html.DisplayNameFor(model => model.Durum)
                </label>
            </div>
         
            <div class="form-group">
                <input type="submit" value="Kaydet" class="btn btn-primary" />
            </div>
                    @{
                   
                    if (Model is null )
                    {
                        <input type="hidden" value="0" asp-for="Id" /> 
                    }else
                    {
                        <input type="hidden" value="@Model.Id" asp-for="Id" /> 
                    }
                    
            }

                            </div>  
                            <div class="col-md-4">
                            <div class="card">
                                <div class="card-header d-flex align-items-center">
                                    <h5 class="mb-0">Resim </h5>
                                    <div class="ms-auto">
                                        <label class="form-check form-switch form-check-reverse">
                                            <input type="checkbox" class="form-check-input" checked>
                                            <span class="form-check-label"></span>
                                        </label>
                                    </div>
                                </div>
                                @if (@Model is not null)
                                {
                                        @if (@Model.Resim is not null)
                                        {
                                    <div class="card-body pb-3">
                                        <div class="form-group">
                                            <img src="@Model.Resim" style="width:-webkit-fill-available" />
                                        </div>
                                    </div>
                                        }
                                }


                                <div class="card-body pb-3">
                                    <div class="form-group">
                                        <label asp-for="Resim" class="control-label">Sayfa Resmi</label>
                                        @*<input asp-for="KucukResim" class="form-control" />*@

                                        <input type="file" asp-for="ResimFile" class="file-input" multiple="multiple" data-show-upload="false" data-show-caption="true" data-show-preview="true">


                                        <span asp-validation-for="Resim" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
</div>
</div>
                    </form>
 

</div></div></div></div></div>
@section Scripts {

<script src="~/assets/js/vendor/editors/ckeditor/ckeditor_classic.js"></script>
	<script src="~/assets/demo/pages/editor_ckeditor_classic.js"></script>
    <script src="~/assets/js/vendor/uploaders/fileinput/fileinput.min.js"></script>
    <script src="~/assets/js/vendor/uploaders/fileinput/plugins/sortable.min.js"></script>
    <script src="~/assets/demo/pages/uploader_bootstrap.js"></script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}